*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	background-color: silver;
}
.container{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	background-color: black;
	padding: 40px;
	text-align: center;
	box-shadow: 10px 10px 5px gray;
	border-radius: 20px;
}
input{
	height: 80px;
	width: 270px;
	background-color: black;
	color: white;
	border-radius: 20px;
	text-align: end;
	margin: auto;
	font-size: 50px;
}
.calculater{
	display: grid;
	grid-template-columns: repeat(4,70px);
	grid-column: span 4;
}
button{
	height: 50px;
	width: 50px;
	background-color: black;
	border-radius: 50%;
	color: whitesmoke;
	font-size: 20px;
	margin: 10px;
	cursor: pointer;

}
button:hover{
	border: 2px solid gray;
}

.color1{
	background-color: red;
}
.color2{
	background-color: whitesmoke;
	color: black;
}